.btn{
    display: inline-block;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}
.btn-large{
    width:200px;
    height:40px;
    border-radius:26px;
    line-height: 40px;
}
.btn-default{
    padding: 0 15px;
    height:30px;
    background:rgba(255,255,255,1);
    border-radius:17px;
    border:1px solid rgba(169,160,156,1);
    color: #A9A09C;
    line-height: 28px;
}

.btn-default:hover{
    background:rgba(169,160,156,1);
    color: #fff;
}
.btn-default:active{
    background:rgba(90,72,62,1);
    color: #fff;
}
.btn-primary{
    height:30px;
    background:rgba(169,160,156,1);
    border-radius:15px;
    color: #fff;
    padding: 0 15px;
    line-height: 30px;
}
.btn-primary:hover{
    background:rgba(90,72,62,1);
}
.btn-primary:active{
    background:rgba(69,52,42,1);
}
.btn-tag{
    padding: 0 5px;
    border-radius:15px;
    height: 20px;
    font-size:12px;
    color:rgba(169,160,156,1);
    line-height:18px;
    border:1px solid rgba(220,215,212,1);
    background:rgba(250,250,250,1);
    margin: 0 10px 0 0; 
}

.btn-fixed-w{
    width:100px;
    padding: 0;
}

.btn-box{
    width:40px;
    height:40px;
    border-radius:4px;
    display: inline-block;
    cursor: pointer;
}
.btn-box-l{
    width:60px;
    height:60px;
    border-radius:10px;
    display: inline-block;
    cursor: pointer;
}
.btn-box-default{
    background:rgba(222,218,216,1);
}
.btn-box-default:hover{
    background:rgba(169,160,156,1);
    color: #fff;
}
.btn-box-default:active{
    background:rgba(90,72,62,1);
    color: #fff;
}
.btn-box-primary{
    background:rgba(169,160,156,1);
}
.btn-box-primary:hover{
    background:rgba(90,72,62,1);
    color: #fff;
}
.btn-box-primary:active{
    background:rgba(69,52,42,1);
    color: #fff;
}

.c5A{
    color: #5A483E
}
.cA9{
    color: #A9A09C;
}
.cB3{
    color: #B39786;
}
.cff{
    color: #fff;
}
.c68{
    color: #686A6F;
}
.c27{
    color: #272A34;
}
.c2B{
    color: #2B354B;
}

.bgff{
    background-color: #fff;
}
.bgE0{
    background-color: #E0E7EA;
}
.bgF4{
    background-color: #F4F6F7;
}

.f12{
    font-size: 12px;
    line-height: 17px;
}
.f14{
    font-size: 14px;
    line-height: 20px;
}
.f16{
    font-size: 16px;
}
.f18{
    font-size: 18px;
}
.f20{
    font-size: 20px;
}
.f22{
    font-size: 22px;
}
.f24{
    font-size: 24px;
}
.f36{
    font-size: 36px;
}
.center{
    text-align: center;
}
.en{
    font-family: Arial;
}

.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.f600{
    font-weight: 600;
}
.w100{
    width: 100%;
}
.wrapper{
    width: 1080px;
    margin: 0 auto;
}
.icon::before{
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
.icon-home::before{
    background-image: url('../img/icon_home.png');
}
.icon-release::before{
    background-image: url('../img/icon_release.png');
}
.icon-event::before{
    background-image: url('../img/icon_event.png');
}
.icon-strctrue::before{
    background-image: url('../img/icon_strctrue.png');
}
.icon-company::before{
    background-image: url('../img/icon_hand.png');
}
.icon-share::before{
    background-image: url('../img/icon_share.png');
}
.icon-search::before{
    background-image: url('../img/icon_search.png');
}
.icon-search-fff::before{
    background-image: url('../img/icon_search_fff.png');
}
.icon-police::before{
    background-image: url('../img/icon_police.png');
    vertical-align: -4px;
}
.icon-phone::before{
    background-image: url('../img/icon_home_s.png');
    height: 14px;
}
.icon-email::before{
    background-image: url('../img/icon_email.png');
    height: 12px;
}
.icon-address::before{
    background-image: url('../img/icon_address.png');
    height: 18px;
}
.icon-quot-left::before{
    background-image: url('../img/icon_quot_left.png');
    height: 16px;
}
.icon-quot-right::before{
    background-image: url('../img/icon_quot_right.png');
    height: 16px;
}
.icon-sort::before{
    background-image: url('../img/icon_sort.png');
    height: 11px;
    width: 10px;
}
.icon-more::before{
    background-image: url('../img/icon_more.png');
    width: 10px;
    height: 18px;
    vertical-align: -3px;
    margin-left: 3px;
}
.icon-scan::before{
    background-image: url('../img/icon_scan.png');
    height: 13px;
    width: 20px;
}
.icon-reserve::before{
    background-image: url('../img/icon_reserve.png');
    height: 16px;
}
.icon-mark::before{
    background-image: url('../img/icon_mark.png');
    height: 16px;
}
.icon-heart::before{
    background-image: url('../img/icon_heart.png');
    height: 16px;
}
.icon-uploader::before{
    background-image: url('../img/add.png');
    height: 40px;
    width: 40px;
}
.icon-role-company::before{
    background-image: url('../img/icon_role_company.png');
    height: 42px;
    width: 45px;
}
.icon-role-union::before{
    background-image: url('../img/icon_role_union.png');
    height: 42px;
    width: 36px;
}

.more{
    cursor: pointer;
}
.avatar{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.triangle{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid red;
}

.hide{
    display: none;
}

body{
    background: #F4F6F7;
}

/* 分页 */
#pagination{
    margin: 20px 0 60px;
    ul{
        width: 1080px;
        margin: 0 auto;
        text-align: center;
    }
    li{
        display: inline-block;
        height: 24px;
        line-height: 24px;
        padding:0 10px;
        margin : 0 5px;
        border:1px solid #B5B6B6;
        color:#686A6F;
        border-radius:4px;
        cursor: pointer;
    }
    li.active{
        background:rgba(169,160,156,1);
        a{
            color:#fff;
        }
    }
    span{
        padding: 0 5px;
    }
}

// 分享
.share .sp{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 35px 10px;
}
.sp.wx{
    background-image: url('../img/share_wechat.png');
}
.sp.cqq{
    background-image: url('../img/share_qq.png');
}
.sp.sina{
    background-image: url('../img/share_sina.png');
}
.sp.bd{
    background-image: url('../img/share_baidu.png');
}
.sp.db{
    background-image: url('../img/share_dou.png');
}
.sp.qzone{
    background-image: url('../img/share_zone.png');
}

// 评分
.rating{			
    position: relative;
    padding: 15px 0;
    
    ul li{
        list-style: none;
        width:18px;
        height:18px;
        float:left;
        background-image:url('../img/icon_rating_star.png');
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 10px;
    }
    ul li.on{
        background-image:url('../img/icon_rating_star_red.png');
    }
    ul span{
        float:left;
        padding-left:10px;
        height:18;
        line-height:18;
    }
}

// 弹窗
.ui-window{
    position: fixed;
    left: 50%;
    top: 50%;
    margin:-300px;
    z-index: 110;
    min-width: 350px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #fff;
    font-size: 14px;
    width:600px;
    border-radius:10px;
    border: 1px solid #E8E8E8;
    .form-group{
        position: relative;
        margin-top: 40px;
        color: #272A34;
        &.img{
            .error-msg{
                top: 140px;
            }
        }
        label{
            width: 80px;
            text-align: right;
            display: inline-block;
        }
        .identity-label{
            vertical-align: 100px;
        }
        input[type="text"],
        input[type="password"]{
            width: 378px;
            margin-left: 20px;
            height:30px;
            padding: 0 10px;
            background:rgba(255,255,255,1);
            border-radius:2px;
            border:1px solid rgba(221,221,221,1);
            &.warning{
                border-color: #ED473F;
            }
        }
        input[type="checkbox"]{
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-left: 20px;
            vertical-align: -3px;
        }
    }
}
.ui-window .warning{
    color:#ED473F;
}
.ui-window input[type="button"]{
    width:80px;
    height:30px;
    border-radius:4px;
    border:1px solid rgba(217,217,217,1);
    text-align: center;
    margin-right: 20px;
    background: transparent;
}
.ui-window input[type="button"].active{
    width:80px;
    height:30px;
    border-radius:4px;
    background: #4CA4FF;
    text-align: center;
    color:#fff;
    border:1px solid #4CA4FF;
}
.ui-window input:focus, 
.ui-window textarea:focus,
.ui-window select:focus{
    border-color: #4CA4FF;
}
.ui-window input.warning{
    border-color: #ED473F;
}
.ui-window .error-msg{
    height: 25px;
    line-height: 50px;
    text-align: center;
}
.ui-window textarea{
    width: 350px;
    padding: 5px 10px;
    line-height: 20px;
    border:1px solid rgba(217,217,217,1);
    resize:none;
}
.ui-window input[type="submit"],
.ui-window .submit input[type="button"]{
    width:143px;
    height:40px;
    background:rgba(76,164,255,1);
    border-radius:20px;
    text-align: center;
    margin:15px auto;
    font-size:18px;
    color:rgba(255,255,255,1);
    line-height:40px;
    cursor: pointer;
}
.ui-window input[type="submit"]:hover,
.ui-window .submit input[type="button"]:hover{
    background:rgba(62,147,236,1);
}
.ui-window .submit{
    text-align: center;
}
.ui-window select {
    display: inline-block;
    width: 130px;
    line-height: 1.5;
    padding: 6px 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    transition: border-color ease-in-out .15s;
}
.ui-window span{
    padding:0 10px;
}
.ui-window #captcha{
    width: 200px;
}
.ui-window #captchaImg{
    vertical-align: -23px;
    margin: 10px;
}
.ui-mask{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    filter: alpha(opacity=30);
    opacity: 0.3;
}

#success-window{
    width:450px;
}
#success-window .tipSuccess {
    line-height: 30px;
    font-size: 18px;
    padding: 30px 70px 20px 20px;
    text-align: center;
}
#success-window .submit input{
    margin-left:-25px;
}
/* 微信二维码分享 */

// 
.container{
    margin-top: 20px;
    min-height: 500px;
}
.banner{
    width: 100%;
    min-width: 1200px;
    height: 380px;
    background-size: cover;
    background-repeat: no-repeat;
}
